ize: 1.17em;

    font-weight: 600;

        height: 50%;

	    padding: 15.5px 0 0 30px;

	    }

/*header h4 style*/

.filters h4 {

	    font-size: 14px;

	        font-weight: 400;

		    height: 50%;

			        padding: 4.5px 0 12px 30px;
